{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.collection_tag' %}
  {% include 'custom_fields.collections.product_sku' %}
  {% include 'custom_fields.collections.bundle_price' %}
  {% include 'custom_fields.collections.bundle_sale_price' %}
  {% include 'custom_fields.collections.bundle_image' %}
  {% include 'custom_fields.collections.features__benefits' %}
  {% include 'custom_fields.collections.warranty__maintenance' %}
  {% include 'custom_fields.collections.technical_documents__resources' %}
  {% include 'custom_fields.collections.specs__more_info' %}
  {% include 'custom_fields.collections.other_information' %}
</div>