{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/pro-plaster.myshopify.com/products/configure/187374/edit
{% endcomment %}
{% if product.metafields.custom_fields["video_description_4"] != blank %}
  <div class="custom-field custom-field__video-description-4 custom-field__type--html">
    <h3 class="custom-field--title">Video Description 4</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["video_description_4"] }}
    </div>
  </div>
{% endif %}