<div><h3>Click & Collect</h3><span> < <span class="active__radius">25</span>km from your location.</span></div>
<div class="distributorInfo">
  <div class="store-1"></div>
  <div class="store-2"></div>
  <div class="store-3"></div>
  <a href="#" class="change-radius__btn">CHANGE RADIUS</a>
</div>
  
<div class="change-radius">
  <h3>CHANGE RADIUS</h3>
  <input type="number" class="new__radius" placeholder="Enter in kilometres">
  <a href="#" class="enter-radius">ENTER</a>
</div>


