{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.accordion_1_description' %}
  {% include 'custom_fields.products.accordion_2_description' %}
  {% include 'custom_fields.products.accordion_3_description' %}
  {% include 'custom_fields.products.accordion_4_description' %}
  {% include 'custom_fields.products.product_reference_2' %}
  {% include 'custom_fields.products.product_variants' %}
  {% include 'custom_fields.products.video_1' %}
  {% include 'custom_fields.products.video_description_1' %}
  {% include 'custom_fields.products.video_2' %}
  {% include 'custom_fields.products.video_description_2' %}
  {% include 'custom_fields.products.video_3' %}
  {% include 'custom_fields.products.video_description_3' %}
  {% include 'custom_fields.products.video_4' %}
  {% include 'custom_fields.products.video_description_4' %}
  {% include 'custom_fields.products.framing' %}
  {% include 'custom_fields.products.fixing' %}
  {% include 'custom_fields.products.taping' %}
  {% include 'custom_fields.products.settling' %}
  {% include 'custom_fields.products.sanding' %}
  {% include 'custom_fields.products.cornicing' %}
</div>